
/*body .navbar .container { max-width: 1170px; }*/



.sort { cursor: default; position: relative; }

.sort-down:after,
.sort-up:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	margin: 8px -9px 0 1px;
	vertical-align: 1px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;

}
.sort-up:after {
	border-top: 4px solid #000000;
}
.sort-down:after {
	border-bottom: 4px solid #000000;
}


/* forum */
.caption a,
.caption a:visited,
.caption a:hover {
	/*color: #444;*/
	opacity: .5;
}

.caption.new-messages a,
.caption.new-messages a:link,
.caption.new-messages a:visited,
.caption.new-messages a:hover {
	/*color: #0088cc;*/
	opacity: 1;
}
/* eo forum */